@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: "Open Sans", sans-serif;
  --primary-color: #fb953e;
  --black-color: #000;
  --gray-1-color: rgba(0, 0, 0, 0.5);
  --gray-2-color: #666;
  --primary-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

.hidden {
  display: none;
}
