.header-container {
  .cart-notification {
    position: fixed;
    left: 50%;
    top: 0.375rem;
    transform: translate(-50%, -2.5rem);
    background: var(--primary-color);
    padding: 0.5rem 1rem;
    color: #fff;
    font-size: 0.875rem;
    border-radius: 2px;
    box-shadow: var(--primary-shadow);
    animation: notification-entry 0.3s forwards;
    width: 40ch;
    text-align: center;
    span {
      font-weight: 700;
    }
  }

  .notification-exit {
    animation: notification-exit 0.3s forwards;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.125rem 8.125rem;

    .cart-items {
      position: absolute;
      display: none;
      flex-direction: column;
      right: 0;
      top: 3.25rem;
      margin-right: 8.125rem;
      padding: 0.5rem 1.5rem;
      background: #aaa;
      color: #fff;
      font-size: 0.875rem;
      font-weight: 700;
      box-shadow: var(--primary-shadow);
      max-height: 25rem;
      overflow-y: auto;

      &.active {
        display: flex;
      }

      .cart-item:not(:last-child) {
        border-bottom: 1px solid #ccc;
      }
      .cart-item {
        display: flex;
        gap: 0.5rem;
        padding: 1rem 0;
        width: 15rem;
        justify-content: space-between;

        .cart-item-header {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          justify-content: flex-end;
        }
        img {
          width: 2.5rem;
        }
        button {
          position: absolute;
          background: url("../img/remove-cart-item.svg") center center no-repeat;
          background-size: 0.75rem 0.75rem;
          width: 0.75rem;
          height: 0.75rem;
          border: none;
          cursor: pointer;
        }
      }
    }

    .cart-link {
      position: relative;
      cursor: pointer;
      .cart-counter {
        position: absolute;
        right: -4px;
        bottom: -1px;
        z-index: 10;
        padding: 1.5px 3px;
        border-radius: 50%;
        color: #fff;
        background-color: var(--primary-color);
        font-size: 10px;
      }
    }
  }
  &::after {
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    background-color: #c7c7c7;
  }
}

@media (max-width: 1070px) {
  .header-container {
    .header {
      padding: 1.125rem 4.075rem;
    }
  }
}

@media (max-width: 870px) {
  .header-container {
    .header {
      padding: 1.125rem 2rem;
    }
  }
}

@keyframes notification-entry {
  from {
    opacity: 0;
    transform: translate(-50%, -2.5rem);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes notification-exit {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -1rem);
  }
}
